<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Potential winners
      <ion-badge>
        {{ potentialWinners?.length || '0' }}
      </ion-badge>
    </ion-card-header>
  </ion-card>

  <button (click)="selectWinner()"
          [disabled]="!potentialWinners?.length"
          ion-button
          block>
    Select a winner
  </button>

  <ion-list>
    <ion-list-header>
      Winners
    </ion-list-header>

    <ion-card *ngFor="let winner of winners.reverse()">
      <img [src]="winner.photoUrl">
      <ion-card-content>
        <ion-card-title>
          {{ winner.name }}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-badge item-start>
        {{ meetupRsvps?.length || '0' }}
      </ion-badge>

      Users who RSVPed
    </ion-list-header>

    <ng-container *ngIf="meetupRsvps?.length; else noRsvps">
      <ion-item *ngFor="let rsvp of meetupRsvps"
                [class.excluded]="!rsvp.included">
        <ion-avatar *ngIf="rsvp.photoUrl"
                    item-start>
          <img [src]="rsvp.photoUrl">
        </ion-avatar>

        <ion-label>
          {{ rsvp.name }}
        </ion-label>

        <ion-checkbox [(ngModel)]="rsvp.included"
                      (ngModelChange)="updatePotentialWinners()"
                      item-end>
        </ion-checkbox>

      </ion-item>
    </ng-container>

    <ng-template #noRsvps>
      <p>There are currently no RSVPed users.</p>
      <p>Try changing the configuration in the settings tab.</p>
    </ng-template>

  </ion-list>
</ion-content>
